
@{ ViewBag.Title = "View";}

<div class="imageContainer">
    <img src="https://s-media-cache-ak0.pinimg.com/originals/69/46/0c/69460c8199069e07fee9135330b323e2.jpg" alt="banner" style="width:100%" />
<h2 class="introText"><span>@Html.ActionLink("Enter", "DiveSite")</span></h2>
</div>



